.row{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

#row1 {
    background-color: lightslategray;
}

.profile-pic{
    height: 345px;
    width: 320px;
}

#row1-col2{
    margin-left: 55px;
    margin-top: 7px;
}

.form-label {
    display: -webkit-inline-box;
}

.form-input{
    margin-right: 200px;
    margin-bottom: 5px;
}

.form-title{
    text-align: left;
}

#row1-col3{
    margin-top: 3px;
}

#row2-col2{
    
}

#row2{
    justify-content: flex-start;
}


#height-ft {
    margin-left: 120px;
}